@model UserDetailsViewModel

<h3>@Model.DSUser.User.FirstName @Model.DSUser.User.LastName</h3>

<form asp-action="UpdateUser" method="post">
    <input type="hidden" asp-for="DSUser.User.Id" />
    <div class="form-group">
        <label>First Name</label>
        <input asp-for="DSUser.User.FirstName" class="form-control" />
    </div>

    <div class="form-group">
        <label>Last Name</label>
        <input asp-for="DSUser.User.LastName" class="form-control" />
    </div>

    <div class="form-group">
        <label>Group Number</label>
        <input asp-for="DSUser.GroupNumber" class="form-control" />
    </div>

    <div class="form-group">
        <select multiple asp-for="SelectedGroups">
            @foreach(var role in Model.AvailableGroups)
            {
                var isSelected = Model.DSUser.Roles.Any(r => r.Id == role.Id);
                <option value="@role.Id" selected="@(isSelected ? "selected" : null)">@role.Name</option>
            }
        </select>
    </div>

    <button type="submit" class="btn-save">Save Changes</button>
</form>